.cart{
    /* border: 1px solid teal; */
    height: 80px;
    padding: 10px;
    background-color: rgba(0, 128, 128, 0.5);
    color: black;

    margin-top: 100px;
    position: fixed;
    top: -100px;
    right: 0;
    overflow: hidden;

    transition: 0.5s all;
}
.cart:hover{
    background-color: teal;
    color: white;
    height: 100%;
}